<ion-content class="padding info-bg"
             id="content">

    <div class="card info-content" >
        <div class="item item-text-wrap">
            Credits
        </div>
    </div>


    <div class="list card">


        <div class="item item-body">
            <p>
                Quotes for inspiration.  Get your daily dose of inspiration from here. Mark your
                quotes as favorite.<br />
                <ul>
                <li>inspirational Quotes,</li>
                <li>Share with Friends</li>
                <li>Enjoy the app Ad free.</li>
                </ul>
            </p>

            <p>
                <h2 class="info_sub_header">3rd party Libraries used in the project </h2>
                <ol>
                    <li>ionic Framework</li>
                    <li>ngCordova</li>
                    <li>imagecachefactory</li>
                </ol>
            </p>

            <br />
            <p>
                <ul>
                     <li>   Email : <a href="mailto:dhavalyours@gmail.com">dhavalyours@gmail.com</a></li>
                    <li>Twitter : <a href="https://twitter.com/dhavalyours">@dhavalyours</a></li>
                </ul>
            </p>


        </div>


    </div>

</ion-content>


<ion-tabs class="tabs-icon-top">

    <ion-tab title="Home" icon="ion-ios-home" href="#/app">

    </ion-tab>

    <ion-tab title="Share Card" icon="ion-share"   on-select="showSharedScreen()" >

    </ion-tab>

    <ion-tab title="Info" icon="ion-ios-information-outline"  href="#/info">

    </ion-tab>

</ion-tabs>